body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  -webkit-user-select: none;
  user-select: none;
  background-color: black;
}

.toolbar {
  position: fixed;
  bottom: 10px;
  left: 0px;
  color: white;
  padding: 10px;
}

.debug {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
  align-items: center;
}
